.section-title h2 {
  font-size: 2.2rem;
  position: relative;
  z-index: 2;
}

.section-title .bg-text {
  font-size: 5rem;
  font-weight: 800;
  color: rgba(42, 21, 21, 0.05);
  user-select: none;
  pointer-events: none;
  z-index: 1;
}

.section-title .underline {
  width: 40px;
  height: 2px;
  position: relative;
  z-index: 2;
}


.mx-20 {
  margin-left: 20rem !important;
  margin-right: 20rem !important;
  margin-top: 10rem !important;
  margin-bottom: 10rem !important;
}

.px-10 {
  padding-left: 15rem !important;
  padding-right: 15rem !important;
}

.nav-link:hover {
  color: #d34d4d !important;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.bg-image {
  height: 100vh
}

.card {
  border: 0;
  padding: 0;
}

.team-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transform: scale(1.5);
  transform-origin: top;
}

/* Height of mission backgound image forest*/
.mission-height {
      height: 900px;
    }

@media (min-width: 768px) {
  .mission-height {
    height: 700px;
  }
}

/* overlay of team images */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(250, 128, 114, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.position-relative:hover .overlay {
    opacity: 1;
}

.overlay i {
    font-size: 1.5rem;
}

/* Service icons sizes */
.service-icon-sm {
  width: 35px;
  height: 35px;
}

.service-icon-md {
  width: 40px;
  height: 40px;
}

.service-icon-lg {
  width: 45px;
  height: 45px;
}

.icon-lg {
  width: 80px;
  height: 80px;
}