.section-title h2 {
  font-size: 2.2rem;
  position: relative;
  z-index: 2;
}

.section-title .bg-text {
  font-size: 5rem;
  font-weight: 800;
  color: rgba(42, 21, 21, 0.082);
  user-select: none;
  pointer-events: none;
  z-index: 1;
}

.section-title .bg-text-light {
  font-size: 5rem;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.267);
  user-select: none;
  pointer-events: none;
  z-index: 1;
}

.section-title .underline {
  width: 40px;
  height: 2px;
  position: relative;
  z-index: 2;
}


.mx-20 {
  margin-left: 20rem !important;
  margin-right: 20rem !important;
  margin-top: 10rem !important;
  margin-bottom: 10rem !important;
}

.px-10 {
  padding-left: 15rem !important;
  padding-right: 15rem !important;
}

.nav-link:hover {
  color: #d34d4d !important;

}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

nav {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.bg-image {
  height: 100vh
}

.card {
  border: 0;
  padding: 0;
}

.team-card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  transform: scale(1.5);
  transform-origin: top;
}


.mission-height {
  height: 900px;
}

@media (min-width: 768px) {
  .mission-height {
    height: 700px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(250, 128, 114, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.position-relative:hover .overlay {
  opacity: 1;
}

.overlay i {
    font-size: 1.5rem;
}

.project-button {
  border: 2px solid transparent;
  border-radius: 9999px;
  transition: border 0.3s;
  text-decoration: none;
  color: inherit;
}

.project-button:hover {
  border: 2px solid #F48A8A;
  color: #F48A8A !important;
}

.project-item {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.project-item:hover .project-overlay {
  opacity: 1;
}

.project-box {
  background: rgba(255, 255, 255, 0.95);
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #000;
}

.btn-red {
  background-color: #F05B5B;
  color: white;
  padding: 10px 20px;
}

.btn-red:hover {
  background-color: #D11414;
  color: white;
}


/* Service icons sizes */
.service-icon-sm {
  width: 35px;
  height: 35px;
}

.service-icon-md {
  width: 40px;
  height: 40px;
}

.service-icon-lg {
  width: 45px;
  height: 45px;
}

.icon-lg {
  width: 80px;
  height: 80px;
}

.cover-img {
  height: 400px;
  filter: brightness(50%)
}

/* --- SECCIÓN AFFORDABLE PRICE --- */
/* --- Background image and overlay --- */
.pricing-section {
    height: 2000px;
    background-image: url("../img/fondo-portatil.jpg");
    background-size: cover;
    background-position: center;
}
@media (min-width: 576px) {
    .pricing-section {
        height: 1350px;
    }
}
@media (min-width: 992px) {
    .pricing-section {
        height: 900px;
    }
}
.pricing-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.133);
}

/* --- Price card styles --- */
.price .symbol {
    bottom: 36px;
    position: relative;
}
.title-medium {
    font-size: 1.5rem !important;
    line-height: 2.25rem !important;
}
.title-extra-large-5 {
    font-size: 5rem !important;
    line-height: 5rem !important;
}

/* --- Ribbon effect --- */
.ribbon-wrapper {
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: -5px;
    left: -5px;
    z-index: 10;
    transition: transform 0.3s ease;
}
.ribbon-text {
    text-align: center;
    transform: rotate(-45deg);
    position: relative;
    padding: 7px 0;
    left: -29px;
    top: 24px;
    width: 150px;
    background-color: #212529;
    color: #dfdfdf;
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    letter-spacing: 1px;
}
.ribbon-wrapper::before,
.ribbon-wrapper::after {
    content: "";
    border-top: 5px solid #000;
    border-left: 5px solid transparent;
    position: absolute;
    z-index: -1;
}
.ribbon-wrapper::before {
    top: 0;
    right: 0;
}
.ribbon-wrapper::after {
    bottom: 0;
    left: 0;
    transform: rotate(180deg);
}

/* --- Hover effect --- */
.price-card .ribbon-wrapper{
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}
.price-card:hover {
    transform: scale(1.05);
    z-index: 5;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2) !important;
}
.professional-card:hover .ribbon-wrapper {
    transform: scale(1.16);
}
.price-card:hover .card-header {
    background-color: rgb(238, 106, 92) !important;
    color: white !important;
    transition: background-color 0.3s ease;
}
.price-card:hover .card-header .price,
.price-card:hover .card-header .text-secondary {
    color: white !important;
}
.price-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}